<!DOCTYPE html>
<html lang="en">
        <!-- Include Head -->
        <%- include ('../partials/head'); %>
<body class="container">
    <!-- Include Header -->
    <%- include ('../partials/header'); %>
    <main>
        <section id="about" class="jumbotron">
            <h1>Greetings!</h1>
            <p>
                <figure >
                    <img src="https://www.gravatar.com/avatar/023ed5a74824b2d7e5c6540ad467243b" alt="Gleidson avatar picture" id="avatar"/>
                </figure>    
                <span>Hi, <a href="#meetandgreet" class="f1cd">nice to meet you</a>!
                <span><br />I'm Gleidson, husband to Juliane and father to Beatriz and Bernardo.</span>
                <span><br />My best guess is that you are here to check my <a class="e2bc" href="#resume">resume</a>, connect on <a href="#links" class="f1cd">social media</a> or to <a href="#contact" class="f1cd">contact me</a>.</span>
            </p>
        </section>
    </main>
    <!-- Include Footer -->
    <%- include ('../partials/footer', {page:"Home"}); %>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    Include all compiled plugins (below), or include individual files as needed
    <script src="js/bootstrap.min.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
</body>
</html>