<header>
    <nav class="navbar navbar-expand-sg navbar-light bg-light">
        <a class="navbar-brand" href="/">GleidsonLM</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/links">Links</a>
            </li>
        </ul>
        </div>
    </nav>
</header>